#wrapper { 
 
 width: 100%;
}

#rightcolumn { 
 float: left;
 color: #333;
 background: #FFFFFF;
 width: 20%;
}

#leftcolumn { 
 color: #333;
 background: ffffff;
 width: 30%;
 float: left;
}

#col3{
color: #333;
background: ffffff;
width: 10%;
float: left;
}

#filler{
color: #333;
background: ffffff;
width: 10%;
float: left;
}

#invoice{
visibility:hidden;
}

#row1{
color: #333;
background: ffffff;
height:200px;
}

#row2{
color: #333;
background: ffffff;
height:200px;
}

label{
	font-size:18px;
	
}

input{
	margin-bottom:10px;
}

select{
	margin-bottom:10px;
}

table{
	margin-bottom:10px;
}