#wrapper { 
 
 width: 100%;
}

#rightcolumn { 
 float: left;
 color: #333;
 background: #FFFFFF;
 width: 20%;
 height: 25%;
}

#leftcolumn { 
 color: #333;
 background: ffffff;
 float: left;
 padding-right:5%;
}

#col3{
color: #333;
background: ffffff;
width: 10%;
float: left;
}

#filler{
color: #333;
background: ffffff;
clear:both;
height: 50%;
}

#invoice{
visibility:hidden;
}

#row1{
color: #333;
background: ffffff;
height:200px;
}

#row2{
color: #333;
background: ffffff;
height:200px;
}

input{
	margin-bottom:10px;
}

select{
	margin-bottom:10px;
}

table{
	margin-bottom:10px;
}

#save{	
		display: none;
		margin: 5px 10px 10px;		
		outline: none;
		cursor: pointer;	
		text-align: center;
		text-decoration: none;
		font: 12px/100% Arial, Helvetica, sans-serif;
		font-weight:700;	
		padding: 5px 10px;	
		-webkit-border-radius: 5px; 
		-moz-border-radius: 5px;
		border-radius: 5px;	
		color: #606060;
		border: solid 1px #b7b7b7;	
		background: #fff;
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
		background: -moz-linear-gradient(top,  #fff,  #ededed);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
	}	
	
	#save:hover
	{
        background: #ededed;
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
		background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
	}
		#editable
	{
		border-style:solid;
		border-width:1px;
	}
